body {
    font-family: $type-text;
    font-size: $size-text;
    line-height: 1.5;
    color: $c-text;
    background-color: $c-bg;
  }
/*section*/
.section{
    padding: 50px;
    margin: auto;
    max-width: 100%;
}
.section--header{
    flex-direction: column;
}
.section--footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: auto;
    border-top: 2px solid $c-logo;
    top: 80px;
    position: relative;
}

/*images*/
img{
    max-width: 100%;
    position: relative;
 
}

.dwm{
    width: 50px;
}




@media (min-width: 900px){ 
    body {
        font-size: $size-tablette;
      }
      .section--footer{
          flex-direction: row;
          padding: 20px;
      }
    .box{
        width: 800px;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: space-between;
        overflow-x: hidden;
        padding: 30px;
    }
    
    .page{
        height: 396px;
        margin: 10px;
        font-size: $size-tablette;
    }
    .scroll{
        position: absolute;
        height: 5px;
        width: 0;
        background-color: pink;
        top: 0;
        left: 0;
    }


}
@media (min-width: 1200px){ 
    .box{
        width: 1000px;
    }
    .page{
        height: 517px;
        margin: 20px;
        font-size: $size-desktop;
        width: 640px;
    }
    .dwm{
        top: 24px;
    }
}
@media (min-width: 1500px){
    .box{
        width: 1500px;
    }
    
}