/*color*/
$c-bg: linear-gradient(180deg, rgba(94, 96, 90, 0.9) 0%, rgba(94, 96, 90, 0) 100%);
$c-text: #FFDCA5;

/*typo*/
$type-title: 'Courier Prime', monospace;
$type-text: 'Changa', sans-serif;
$size-text: 18px;
$size-tablette: 25px;
$size-desktop: 30px;
$size-title: 50px;
